.bandmembers{
    position: relative;
    display: grid;  
    grid-template-columns: repeat(4, 1fr);
}
.members{

}
#slideshow{
    width: 100%;
    height: fit-content;
    position: relative;
}
#logotip {
    position: relative;

       
  pointer-events: none;
  

  
}
  @keyframes float {
    0%   { transform: translate(-50%, -52%); }
    50%  { transform: translate(-50%, -48%); }
    100% { transform: translate(-50%, -52%); }
  }
#container{
position: absolute;
z-index: 9999;
left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* centriranje glede na center */
    width: 40%; /* prilagodi velikost */
    height: auto;
    z-index: 10; /* nad PNG */
    pointer-events: none; /* če nočeš, da logo križa klik */
    filter: drop-shadow(0 8px 20px rgba(46, 46, 46, 0.616)); /* senca */
    will-change: transform;
    animation: float 4s ease-in-out infinite;
}


