@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap'); 
*{
  margin: 0;
  padding: 0;
  font-family: "Source Sans 3", sans-serif;
  scroll-behavior: smooth;
}
.bandmembers{
    position: relative;
    display: grid;  
    grid-template-columns: repeat(4, 1fr);
}
#slideshow{
    width: 100%;
    height: fit-content;
    position: relative;
      background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    min-height: 500px;
}

#container{
position: absolute;
z-index: 9999;
left: 50%;
top: 50%;
transform: translate(-50%, -50%); 
width: 40%; 
height: auto;
z-index: 10;
pointer-events: visibleStroke;
filter: drop-shadow(0 8px 20px rgba(46, 46, 46, 0.616)); /* senca */
transition: filter 0.4s ease-in-out;
}

.members img{
  transition: opacity 0.2s;
}
.members img:hover{
  opacity: 0.75;
}

.w3-top{
  z-index: 11;
}
#container:hover{
    filter: drop-shadow(0 8px 20px rgba(255, 255, 255, 0.418)); /* senca */
}
.hover-transition{
  transition: background-color 1s ease-out ;
}
.city{
  transition: opacity 0.4s ease-in-out;
}
.contact{
   position: relative;
    display: grid;  
    grid-template-columns: repeat(3,30vw);
}
#mycanvas{
}
.canvaslogo{
position: absolute;
z-index: 9999;
left: -50%;
top: 50%;
transform: translate(-50%, -50%); 
transition: left 1s;
}
.canvaslogo:hover{
  left:-20%;
}
.contact .center{
   align-items: center;
   display: flex;
   justify-content: center;
}